body {
  font-family: 'Josefin Sans', sans-serif;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.navigation {
  display: flex;
  width: 100%;
  position: absolute;
  z-index: 1;
  right: 0;
  justify-content: flex-end;
}

.views {
  position: absolute;
  width: 100%;
  display: flex;
  height: 100%;
}

.home-view {
  background-image: url("assets/mainBackground.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 30% 50%;
}

.centered {
  color: rgba(255,255,255, 0.75);
  position: absolute;
  top: 2%;
  left: 20%;
}

.main-links {
  font-size: 20px;
  font-weight: 300;
  margin: 2%;
}

.main-links:hover {
  color: rgb(255,255,255);
  cursor: pointer;
  font-weight: 300;
}

.main-title {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 38px;
  font-weight: 100;
}

.projects-view, .resume-view, .contact-view {
  background-color: rgb(240,240,240);
  overflow: scroll;
}

.project-title {
  font-size: 40px;
  font-family: 'Josefin Sans', sans-serif;
  color: rgb(46,106,144);
}

.project-title:hover {
  color: gray;
  cursor: pointer;
}

.projects-list {
  position: absolute;
  top: 10%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.project-miniImg {
  width: 70%;
}

.project-div {
  width: 75%;
  border-bottom: 2px solid rgb(46,106,144);
  line-height: 1.25rem;
  font-family: 'Open Sans';
  font-weight: 400;
  font-size: 13px;
  color: #333;
  margin-top: 0;
  margin-bottom: 0.5rem;
}

.my-resume {
  position: absolute;
  top: 10%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.my-resume>div{
  border-top: 1px solid rgb(46,106,144);
  width: 70%;
}

.my-resume > div > div {
  margin: 2% 0;
}

.my-resume h3 {
  margin-top: 2rem;
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  color: rgb(46,106,144);
}

.my-resume p, .my-resume li {
  line-height: 1.25rem;
  font-family: 'Open Sans';
  font-weight: 400;
  font-size: 13px;
  color: #333;
  margin-top: 0;
  margin-bottom: 0.5rem;
}

.resume-header, .resume-objective, .development-experience,.tech-skills, .resume-education, .professional-experience {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}

.resume-header {
  flex-flow: row wrap;
}

.resume-header h2 {
  font-size: 100px;
}

#header-name {
  color: rgb(46,106,144);
  padding: 0;
  margin: 0;
}

.personal-info {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 0;
  margin: 0;
  line-height: 0;
}

.section-titles {
  align-self: flex-start;
  color: rgb(46,106,144);
  width: 15%;
}

.section-content {
  width: 80%;
}
.each-experience > * {
  margin: 8px;
}

a:link, a:visited {
  color: black;
  text-decoration: none;
}

.tech-content {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.tech-skills-lists {
  width: 30%;
}

.contact-info-div {
  display: flex;
  position: absolute;
  top: 10%;
  justify-content: space-around;
  width: 100%;
  flex-flow: row wrap;
}

.each-info {
  border-bottom: 2px solid rgb(46,106,144);
  font-size: 30px;
  display: flex;
  align-items: center;
  width: 25%;
  flex-direction: column;
  margin: 10px;
}
.each-info h4 {
  color: rgb(46,106,144);
}

.each-info:hover {
  border-bottom: 4px solid rgb(46,106,144);
  margin-bottom: 8px;
}

.each-info a {
  color: black;
}

.each-info a:hover {
  color: gray;
}

@media (max-width: 1000px) {
  .each-info {
    width: 40%;
  }
  .resume-header,
  .resume-objective,
  .development-experience,
  .tech-skills,
  .resume-education,
  .professional-experience {
    flex-flow: column nowrap;
    padding-top: 10px;
  }
  .resume-header h2 {
    font-size: 50px;
  }
  .section-titles {
    font-size: 20px;
  }
  .section-content {
    width: 100%;
  }
  .my-info {
    text-align: center;
  }
}

@media (max-width: 600px) {
  .each-info {
    width: 60%;
  }
  .my-resume > div {
    width: 90%;
  }
}