body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.views {
  position: absolute;
  width: 100%;
  display: flex;
  height: 100%;
  margin: 0;
  padding: 0;
}

.home-view {
  background-image: url("assets/mainBackground.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 30% 50%;
  margin: 0;
  padding: 0;
}

.centered {
  color: rgba(255,255,255, 0.75);
  position: absolute;
  top: 0;
  left: 20%;
}

.main-links {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 30px;
  font-weight: 100;
  margin: 2%;
}

.main-links:hover {
  color: rgba(0,0,0, 0.75);
  cursor: pointer;
  font-weight: 300;
}

.main-title, .sub-title {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 50px;
  font-weight: 100;
}

.views {
  background-color: gray;
}

.link-arrow {
  cursor: pointer;
}

.back-link {
  position: absolute;
  bottom: 0;
}

.sub-title {
  position: absolute;
  left: 10%;
}

.projects-list {
  position: absolute;
  top: 10%;
  bottom: 10%;
}